<div class="main-container">
  <p-card>
    <ng-template #header>
      <p-button
        label="Voltar"
        icon="pi pi-arrow-left"
        (click)="onBack()"
        class="mx-2"
      ></p-button>

      <p-button
        label="Novo"
        icon="pi pi-plus"
        iconPos="right"
        (click)="onNew()"
      ></p-button>
    </ng-template>
    <app-table [grid]="grid"></app-table>
  </p-card>
</div>

<app-drawer-edit-ambiente
  #drawerEditAmbiente
  (onSubmitForm)="onSaveEdit($event)"
></app-drawer-edit-ambiente>
