<app-drawer #drawer [templateBody]="templateBodyDrawerEditAmbiente">
</app-drawer>

<ng-template #templateBodyDrawerEditAmbiente>
  <div class="row align-items-end">
    <form [formGroup]="formGroup">
      <div class="col-sm-12 mb-3">
        <app-input
          label="Nome ambiente"
          formControlName="nomeUnico"
        ></app-input>
      </div>

      <div class="col-sm-12">
        <p-button
          label="Salvar"
          icon="pi pi-check"
          iconPos="right"
          (click)="onSubmit()"
        />
      </div>
    </form>
  </div>
</ng-template>
