<div class="login-container p-fluid">
  <div class="login-card p-card p-shadow-8">
    <div class="p-card-title">
      <i class="pi pi-user" style="font-size: 2rem"></i>
      <h1>Bem-vindo</h1>
    </div>
    <div class="p-card-content">
      <div class="button-container">
        <button
          pButton
          type="button"
          label="Clique aqui para fazer login"
          class="p-button-raised p-button-rounded"
          (click)="onLogin()"
        ></button>
      </div>
    </div>
  </div>
</div>
